{% extends "bootstrap/base.html" %}

{% block content %}

    <div class="container">

        <h2>Tide Levels Across the Country</h2>
        <p>Below is graphed tide levels from across the U.S. Hover your mouse over the graph to get more specific information.</p>

        <script type="text/javascript" src="{{ url_for('static', filename='js/plotlyjs-bundle.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/figure.js') }}"></script>

        <div id="23378c3a-2495-4976-a759-fe42c9707fb0" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>

    </div>
    <script type="text/javascript">
        (function() {
            window.PLOTLYENV = {
                'BASE_URL': 'https://plot.ly'
            };

            var gd = document.getElementById('23378c3a-2495-4976-a759-fe42c9707fb0')
            var resizeDebounce = null;

            function resizePlot() {
                var bb = gd.getBoundingClientRect();
                Plotly.relayout(gd, {
                    width: bb.width,
                    height: bb.height
                });
            }




            Plotly.plot(gd, {
                data: figure.data,
                layout: figure.layout,
                frames: figure.frames,
                config: {
                    "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A",
                    "linkText": "Export to plot.ly",
                    "showLink": true
                }
            });

        }());

    </script>


{% endblock %}
