{% extends "bootstrap/base.html" %}

{% block title %}SPIN Tool{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% endblock %}

{% block content %}
<main class="hero-section">
    <div class="container">
        <div class="section-content">
            <h1 class="spin" align="center">SPIN</h1>
            <br>
            <form action="{{ url_for('home')}}" method="post" align="center">
                <label for="first_name"> Name:</label><input name="first_name" type="text" id="first_name" />
                <input type="submit" id="myBtn" value="Submit" />
            </form>
            <br>
            <br>
        </div>
        <div class="section-device">
            <img src="static/img/myScreen.png">
        </div>
        <div class="clearfix"></div>
    </div>
</main>
{% endblock %}
